$colors: (
  "black" : #0F0806,
  "white" : #FBF7EE,
  "beige" : #D6C29A,
  "brown" : #4C2B24,
);

//Spacing
$spacing: (
  "1": 4px,
  "2": 8px,
  "3": 12px,
  "4": 16px,
  "5": 24px,
  "6": 32px,
  "7": 40px,
  "8": 52px,
  "9": 60px,
  "10": 80px,
  "12": 104px,
  "15": 200px
);


// Breakpoints
$breakpoints: (
  "phone-small": 320px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1440px,
  "desktop-wide": 1920px,
);

$heading-fonts-sizes-desktop: (
  "Mid" : 150px,
  "Mid-line": 228px,
  "Small" : 32px,
  "Small-line": 43px,
);

$body-fonts-sizes-desktop: (
  "Mid" : 20px,
  "Mid-line" : 24px,
  "Small" : 16px,
  "Small-line": 19.2px,
);

$heading-fonts-sizes-mobile: (
  "Mid" : 52px,
  "Mid-line" : 79px,
  "Small" : 12px,
  "Small-line" : 15.2px,
);

$body-fonts-sizes-mobile: (
  "Mid" : 16px,
  "Mid-line" : 19.2px,
  "Small" : 16px,
  "Small-line": 19.2px,
);

$layout-desktop: (
  "margin": 40px,
  "column-spacing": 20px,
  "column-number": 12,
);
$layout-mobile: (
  "margin": 16px,
  "column-spacing": 12px,
  "column-number": 8,
);


// Z-Indexes
$z-indexes: (
  "content",
  "menu",
  "header",
  "modal",
  "loader"
);

$Text: (
  "Text-primary": map-get($colors, "900"),
  "Text-secondary": map-get($colors, "400"),
  "Text-invert": map-get($colors, "50"),
  "Text-brand": map-get($colors, "brand")
);

$Border: (
  "Border-primary": map-get($colors, "900"),
  "Border-secondary": map-get($colors, "400"),
  "Border-tertiary": map-get($colors, "200"),
  "Border-invert": map-get($colors, "50"),

);

$Surface: (
  "Surface-primary": map-get($colors, "50"),
  "Surface-secondary": map-get($colors, "100"),
  "Surface-invert": map-get($colors, "900"),
  "Surface-brand": map-get($colors, "brand")
);

$Radius: (
  "Radius-sm" : 8px,
  "Radius-mid" : 12px,
  "Radius-lg" : 60px,
  "Radius-xl" : 100px,
);


$Space-mobile: (
  "Spacing-none": 0px,
  //map-get($spacing, ""),
  "Spacing-2xs": map-get($spacing, "1"),
  "Spacing-xs": map-get($spacing, "3"),
  "Spacing-sm": map-get($spacing, "4"),
  "Spacing-mid": map-get($spacing, "5"),
  "Spacing-lg": map-get($spacing, "6"),
  "Spacing-xl": map-get($spacing, "7"),
  "Spacing-2xl": map-get($spacing, "8"),
  "Spacing-hg": map-get($spacing, "10"),
  "Spacing-xh": map-get($spacing, "10"),
  "Spacing-2xh": map-get($spacing, "10"),
);

$Space-desktop: (
  "Spacing-none": 0px,
  //map-get($spacing, ""),
  "Spacing-2xs": map-get($spacing, "2"),
  "Spacing-xs": map-get($spacing, "3"),
  "Spacing-sm": map-get($spacing, "4"),
  "Spacing-mid": map-get($spacing, "5"),
  "Spacing-lg": map-get($spacing, "6"),
  "Spacing-xl": map-get($spacing, "7"),
  "Spacing-2xl": map-get($spacing, "9"),
  "Spacing-hg": map-get($spacing, "10"),
  "Spacing-xh": map-get($spacing, "12"),
  "Spacing-2xh": map-get($spacing, "15"),
);

