@font-face {
  font-family: "DelaGothicOne-Regular";
  src: url("../../fonts/Dela_Gothic_One/DelaGothicOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Oxygen-Light";
  src: url("../../fonts/Oxygen/Oxygen-Light.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Oxygen-Regular";
  src: url("../../fonts/Oxygen/Oxygen-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Oxygen-Bold";
  src: url("../../fonts/Oxygen/Oxygen-Bold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}