@font-face {
  font-family: "AcuminPro-Light";
  src: url("../../fonts/Acumin_Pro/Acumin_Pro-Light.otf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "AcuminPro-Regular";
  src: url("../../fonts/Acumin_Pro/Acumin_Pro-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "AcuminPro-Medium";
  src: url("../../fonts/Acumin_Pro/Acumin_Pro-Medium.otf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "AcuminPro-SemiBold";
  src: url("../../fonts/Acumin_Pro/Acumin_Pro-Semibold.otf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "AcuminPro-Bold";
  src: url("../../fonts/Acumin_Pro/Acumin_Pro-Bold.otf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Kudryashev-Display";
  src: url("../../fonts/Kudryashev/KudryashevDisplay.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
