@font-face {
  font-family: "AcuminPro-Light";
  src: url("../../fonts/Acumin_Pro/AcuminProLight.otf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "AcuminPro-Regular";
  src: url("../../fonts/Acumin_Pro/AcuminProRegular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "AcuminPro-Medium";
  src: url("../../fonts/Acumin_Pro/AcuminProMedium.otf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "AcuminPro-SemiBold";
  src: url("../../fonts/Acumin_Pro/AcuminProSemibold.otf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "AcuminPro-Bold";
  src: url("../../fonts/Acumin_Pro/AcuminProBold.otf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Kudryashev-Display";
  src: url("../../fonts/Kudryashev/KudryashevDisplay.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
