@import "./fonts.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./reset.scss";

.font-size-test {
  text-align: center;
}

body,
html {
  width: 100%;
  min-height: 100%;
  background-color: map-get($brands-primary, "beige");
}

body {
  h1 {
    font-size: 120px;
    line-height: 182px;
    font-family: "Kudryashev-Display";
  }
}
