@import "./fonts.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./reset.scss";

.font-size-test {
  text-align: center;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  h1{
    text-align: center;
  }
}
