@import "../../../assets/styles/utils/variables.scss";
@import "../../../assets/styles/utils/mixins.scss";

.ad_projectCard-item {
  max-width: 288px;
  &:hover {
    .ad_projectCard_text {
      p {
        span {
          transform: translateY(-100%);
        }
      }
    }
    .ad_projectCard_picture img {
      transform: scale(1.05);
    }
  }
  .ad_projectCard_text {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 8px;
    p {
      overflow: hidden;

      &:nth-child(1){
        height: 43px;
      }
      &:nth-child(2){
        height: 14px;
      }
      span {
        transition: 200ms ease-out;
        display: block;

      }
    }
  }
  .ad_projectCard_picture {
    width: 280px;
    height: 380px;
    background-color: gray;
    img {
      transition: 300ms;
    }
    @include mq("tablet", max) {
      width: 288px;
    }
  }
}
