@import "../../../assets/styles/utils/variables.scss";
@import "../../../assets/styles/utils/mixins.scss";

.ad_projectCard-item {
    max-width: 288px;
  .ad_projectCard_text {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  .ad_projectCard_picture{
    width: 280px;
    height: 380px;
    background-color: gray;
    @include mq("tablet", max) {
     width: 288px;
    }
  }
}
