---
import Layout from "../layouts/Layout.astro";
import SEO from "../layouts/utils/SEO.astro";

---

<SEO
  lang="fr"
  title="Arthur Debruille Portfolio"
  description="Portfolio de Arthur Debruille | Dev"
>
  <Layout>
    <h1>About</h1>
  </Layout>
</SEO>
