---
import Layout from "../layouts/Layout.astro";
import SEO from "../layouts/utils/SEO.astro";

---

<SEO
  lang="fr"
  title="Arthur Debruille Portfolio"
  description="Portfolio de Arthur Debruille | Dev"
>
  <Layout>
    <h1>About</h1>
    <h2 class="bi-mid-regular-body">About</h2>
    <a href="/">Home</a>
    <a href="/contact">Contact</a>
  </Layout>
</SEO>
