---
import Layout from "../layouts/Layout.astro";
import SEO from "../layouts/utils/SEO.astro";
---

<SEO
  lang="fr"
  title="Arthur Debruille Portfolio"
  description="Portfolio de Arthur Debruille | Dev"
>
  <Layout>
    <h1>Index</h1>
    <h2>SCC</h2>
    <p style="max-width: 500px;">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel ipsa quaerat
      adipisci, accusamus doloremque nisi ex mollitia voluptatibus explicabo
      nostrum minus quasi reiciendis distinctio rerum!
    </p>
    <p class="bi-mid-regular-body" style="max-width: 500px;">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel ipsa quaerat
      adipisci, accusamus doloremque nisi ex mollitia voluptatibus explicabo
      nostrum minus quasi reiciendis distinctio rerum!
    </p>
    <input type="text" value="coucou">
    <br />
    <a href="/projects/scc">Go to project</a>
    <a href="/about">about</a>
    <a href="/contact">contact</a>
    <div style="height: 1000vh"></div>
  </Layout>
</SEO>
