---
import Icons from '../components/atoms/Icons';
import Layout from '../layouts/Layout.astro';
import SEO from '../layouts/utils/SEO.astro';
---

<SEO lang="fr" title="Arthur Debruille Portfolio" description="Portfolio de Arthur Debruille | Dev">
	<Layout>
		<h1>SCC France</h1>
		<Icons type="html"/>
		<Icons type="css"/>
		<Icons type="sass"/>
		<Icons type="js"/>
		<Icons type="react"/>
		<Icons type="vue"/>
		<Icons type="svelte"/>
		<Icons type="astro"/>
		<Icons type="gatsby"/>
	</Layout>
</SEO>
