---
import Picture from "../components/atoms/Picture/Picture";
import Nav from "../components/molecules/Nav/Nav";
import Layout from "../layouts/Layout.astro";
import SEO from "../layouts/utils/SEO.astro";

import "../assets/styles/pages/project-type.scss";

import ProjectCoverDesktopRetina from "../assets/images/projects/project/scc-img-project@2x.jpg";
import ProjectCoverDesktop from "../assets/images/projects/project/scc-img-project@2x.jpg";
import ProjectCoverMobileRetina from "../assets/images/projects/project/scc-img-project-mobile@2x.jpg";
import ProjectCoverMobile from "../assets/images/projects/project/scc-img-project-mobile.jpg";
import Icons from "../components/atoms/Icons/Icons";
---

<SEO
  lang="fr"
  title="Arthur Debruille Portfolio - Project type"
  description="Portfolio de Arthur Debruille | Dev"
>
  <Layout>
    <section class="ad_procject-type">
      <div class="ad_project-type-picture">
        <div class="ad_project-type-content">
          <h1>SCC France</h1>
          <p class="project-date">2023</p>
        </div>
        <Picture
          img={[ProjectCoverDesktop, ProjectCoverMobile]}
          alt="project"
          width="540"
          height="730"
        />
      </div>
    </section>
    <Nav />
    <section class="ad_procject-type-description">
      <h2>Description du projet</h2>
      <div class="ad_procject-type-description-tech">
        <Icons type="sass" />
        <Icons type="js" />
        <Icons type="react" />
        <Icons type="astro" />
      </div>
      <div class="ad_procject-type-description-text">
        <p class="paragraph">
          SCC France est un des leader de l’IT en France. Une entreprise de plus
          de 3 000 personnes qui réalise un CA supérieur à 2 Milliards d’euros.
          Le commanditaire est une agence de branding, Dragon Rouge. refondre le
          site internet en proposant une solution UX/UI plus aérée et plus
          moderne.
        </p>
      </div>
    </section>
  </Layout>
</SEO>
