---
import Picture from "../components/atoms/Picture/Picture";
import Nav from "../components/molecules/Nav/Nav";
import Layout from "../layouts/Layout.astro";
import SEO from "../layouts/utils/SEO.astro";

import "../assets/styles/pages/project-type.scss";

import sccCoverDesktopRetina from "../assets/images/projects/scc/cover/scc-desktop-retina.jpg";
import sccCoverDesktop from "../assets/images/projects/scc/cover/scc-desktop-base.jpg";
import sccCoverMobileRetina from "../assets/images/projects/scc/cover/scc-mobile-retina.jpg";
import sccCoverMobile from "../assets/images/projects/scc/cover/scc-mobile-base.jpg";

import Icons from "../components/atoms/Icons/Icons";
---

<SEO
  lang="fr"
  title="Arthur Debruille Portfolio - Project type"
  description="Portfolio de Arthur Debruille | Dev"
>
  <Layout title="Projet - SCC">
    <section class="ad_procject-type">
      <div class="ad_project-type-picture">
        <div class="ad_project-type-content">
          <h1>SCC France</h1>
          <p class="project-date">2023</p>
        </div>
        <Picture
          img={[sccCoverDesktop, sccCoverMobile]}
          alt="project"
          width="540"
          height="730"
        />
      </div>
    </section>
    <Nav />
    <section class="ad_procject-type-description">
      <h2>Description du projet</h2>
      <div class="ad_procject-type-description-tech">
        <Icons type="sass" />
        <Icons type="js" />
        <Icons type="react" />
        <Icons type="astro" />
      </div>
      <div class="ad_procject-type-description-text">
        <p class="paragraph">
          SCC France est un des leader de l’IT en France. Une entreprise de plus
          de 3 000 personnes qui réalise un CA supérieur à 2 Milliards d’euros.
          Le commanditaire est une agence de branding, Dragon Rouge. refondre le
          site internet en proposant une solution UX/UI plus aérée et plus
          moderne.
        </p>
      </div>
    </section>
    <section class="ad_procject-type-context-n-goals">
      <div class="ad_procject-type-context">
        <h2>Contexte et objectifs du projet</h2>
        <Picture
          img={[sccCoverDesktop, sccCoverMobile]}
          alt="project"
          width="540"
          height="730"
        />
      </div>
      <div class="ad_procject-type-goals">
        <ul>
          <li><p class="paragraph">Un site vitrine</p></li>
          <li><p class="paragraph">Simplifier l’arborescence du site</p></li>
          <li>
            <p class="paragraph">
              Proposer au client une solution CMS plus simple et ergonomique que
              la solution actuelle qui est Wordpress
            </p>
          </li>
          <li>
            <p class="paragraph">
              Être responsive, en s’adaptant à l’ensemble des appareils
            </p>
          </li>
        </ul>
      </div>
    </section>
    <section class="ad_procject-type-role-n-resp">
      <h2>Rôle et responsabilités</h2>
      <p class="paragraph">
        Lors de ce projet, nous travaillons en équipe je me charge de la partie
        Front-end, un tout petit peu de Back-end sur Sanity et du Storybook.
      </p>
      <Picture
        img={[sccCoverDesktop, sccCoverMobile]}
        alt="project"
        width="540"
        height="730"
      />
      <Picture
        img={[sccCoverDesktop, sccCoverMobile]}
        alt="project"
        width="540"
        height="730"
      />
    </section>
    <section class="ad_procject-type-feedback">
      <div class="feedback">
        <h3>Retour sur expérience</h3>
        <p class="paragraph">
          J’ai pu découvrir ce qu’était un monorepo. Le projet n’est pas encore
          terminé, mais il s’agit là, du plus gros site sur lequel j’ai pu
          travailler. Il faut être bien préparer, s’organiser des semaines avant
          le début du développement, mettre en place les variables (Couleurs,
          Espacements…), initialiser CMS Sanity et Storybook. Storybook JS est
          un outil open-source de développement d'interfaces utilisateur (UI)
          qui permet aux développeurs de créer et de visualiser des composants
          d'interface utilisateur isolément, en dehors du contexte d'une
          application.
        </p>
      </div>
    </section>
  </Layout>
</SEO>
