@import "../../../assets/styles/utils/variables";
@import "../../../assets/styles/utils/mixins.scss";

.ad_titleParagraph {
  grid-column: 1/13;
  @include grid(
    map-get($layout-desktop, column-number),
    map-get($layout-desktop, column-spacing),
    0
  );
  h3 {
    grid-column: 2/5;
  }
  p {
    grid-column: 5/12;
  }
  @include mq("tablet", max) {
    grid-column: 1/9;
    @include grid(
      map-get($layout-mobile, column-number),
      map-get($layout-mobile, column-spacing),
      0
    );
    h3 {
      grid-column: 1/9;
    }
    p {
      grid-column: 1/9;
    }
  }
}
