@import "../../../assets/styles/utils/variables";
@import "../../../assets/styles/utils/mixins.scss";

.ad_titleParagraph {
  @include grid(
    map-get($layout-desktop, column-number),
    map-get($layout-desktop, column-spacing),
    0
  );
  div {
    grid-column: 1/13;
    @include grid(
      map-get($layout-desktop, column-number),
      map-get($layout-desktop, column-spacing),
      0
    );
    h2{
        grid-column: 2/4;
    }
    p{
        grid-column: 5/12;
    }
  }
  @include mq("tablet", max) {
    div{
        display: flex;
        flex-direction: column;
        gap: map-get($spacing, "2");
    }
  }
}
