---
import "../assets/styles/utils/root.scss"
---

<body data-barba="wrapper">
	<!-- <TransitionPage client:only/>
	<SmoothScroll client:load />
	<Header client:load/> -->
	<header><h1>Header</h1></header>
	<main data-barba="container"><slot /></main>
	<footer><h1>Footer</h1></footer>
</body>