---
import Header from "../components/molecules/Header/Header";
import Footer from "../components/molecules/Footer/Footer";
import "../assets/styles/utils/root.scss";
import "../assets/styles/pages/style.scss";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body data-barba="wrapper">
    <Header client:load />
    <main data-barba="container">
      <slot />
    </main>
    <!-- <Footer /> -->
    <script is:inline type="module" src="/app.js"/></script>
  </body>
</html>

