---
import "../assets/styles/utils/root.scss"
import SmoothScroll from "./utils/SmoothScroll";
import TransitionPage from "./utils/TransitionPage/TransitionPage";
import Header from "../components/molecules/Header"




---

<body data-barba="wrapper">
	<SmoothScroll client:load />
	<TransitionPage client:only/>
	<!-- <Header client:load/> -->
	<Header/>
	<main data-barba="container"><slot /></main>
	<!-- <footer><h1>Footer</h1></footer> -->
</body>


<script>
</script>