@import "../../../assets/styles/utils/variables.scss";
@import "../../../assets/styles/utils/mixins.scss";

nav {
  @include grid(
    map-get($layout-desktop, column-number),
    map-get($layout-desktop, column-spacing),
    map-get($layout-desktop, margin)
  );
  width: 100%;
  .ad_nav-links {
    grid-column: 1/6;
    display: flex;
    gap: 40px;
  }
  @include mq("tablet", max) {
    display: flex;
    justify-content: center;
   .ad_nav-links {
    grid-column: 2/9;
    display: flex;
    gap: 40px;
  }
  }
}
